.descripcion{
    display: list-item;
}
.me{
    text-align: center;
    font-size: x-large;
    background-color: salmon;
    color: white;
}
.opciones{
    text-align: center;
    font-size: large;

}
p{
    text-align: center;
    font-size: medium;

}
.img{
    margin-top: 50px;
    margin-left: 10px;
}
.audio{
    color: white;
}
.orden{
    text-align: center;
  }